@import "tailwindcss";

body {
    @apply bg-gradient-to-r from-[#0e0e14] to-[#2b2e36]
}

@utility container {
    margin: 0 auto;
}

/* for inputs design */
.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 16px 20px;
    background-color: #505050;
    color: #fff;
    font-size: 18px;
    border: 2px solid #777;
    border-radius: 8px;
    outline: none;
}

.input-group label {
    position: absolute;
    left: 25px;
    top: 16px;
    color: #9b9b9b;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: #505050;
    padding: 0 15px;
    border: none;
}

.input-group input:focus {
    border-color: #5dc98a;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -10px;
    left: 10px;
    font-size: 16px;
    color: #5dc98a;
    box-shadow: 0px -2px 0px #777777;
    border-radius: 50%;
}

.input-group input:focus+label {
    box-shadow: 0px -2px 0px #5dc98a;
}

/* go to register login page */
.register_login {
    @apply flex justify-between
}

.register_login a {
    @apply p-1 text-lg text-[#5dc98a] inline-block relative;
    background-image: linear-gradient(#28e98c);
    background-size: 0% 2px;
    background-position: right bottom;
    background-repeat: no-repeat;
    transition: background-size 300ms ease;

    &:hover {
        background-size: 100% 2px;
        background-position: left bottom;
    }
}

/* submit button */
.submitBtn {
    @apply mt-5 py-5 bg-[#555] rounded-lg text-xl text-[#fff] font-semibold tracking-widest;
    background-image: linear-gradient(#28e98c);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    cursor: pointer;
    transition: background-size 500ms;

    &:hover {
        background-size: 100% 100%;
        background-position-x: left;
        color: #000;
    }
}

/* nav items */

nav ul li {
    @apply mt-8
}

nav ul li a, nav ul li button {
    @apply block p-8 text-[#7f7f87] text-4xl duration-200;
    background-image: linear-gradient(#88d4ca);
    background-repeat: no-repeat;
    background-size: 0% 1%;
    background-position: right bottom;
    cursor: pointer;
    transition: background-size 500ms;

    &:hover {
        background-size: 100% 1%;
        background-position: left bottom;
        color: #88d4ca;
    }
}

/* conversation list */
.convoListSec {
    @apply w-[400px] mt-8 tracking-widest 
}

.convoListSec ul {
    @apply font-medium text-xl text-[#7f7f87] p-4 mt-4;
    background-image: linear-gradient(#88d4ca);
    background-repeat: no-repeat;
    background-size: 0% 2%;
    background-position: right bottom;
    cursor: pointer;
    transition: background-size 800ms, transform 400ms;
    
    &:hover {
        background-size: 100% 2%;
        background-position: left bottom;
        color: #88d4ca;
        transition: background-size 500ms, transform 400ms;
        transform: translateY(-4px);
    }
}